<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone_frontend" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_hyojason"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_hyojason_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CapstoneFrontend" >
        <activity android:name=".LogoutActivity" >
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".ChooseTypeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".IntroActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao5bec60bab0b4893040677633105f1a77" />
            </intent-filter>
        </activity>
    </application>

</manifest>